.c_pagination{margin: 0 !important;}

.dialog-10x5 .modal-dialog{width: 1000px;}
.dialog-10x5 .modal-body{height: 500px; overflow-y: scroll;}

.dialog-8x5 .modal-dialog{width: 800;}
.dialog-8x5 .modal-body{height: 500px; overflow-y: scroll;}

.dialog-5x4 .modal-dialog{width: 500;}
.dialog-5x4 .modal-body{height: 400px; overflow-y: scroll;}

.img-size-45{width: 45px; height: 45px;}
.img-size-100{width: 100px; height: 100px;}
.form-size-xs{width: 45%;}
.form-size{width: 70%; margin-top: 20px;}

.dialog-loading {
  width: 60px;
  height: 60px;
  background-color: #00c0ef;
 
  margin: 100px auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}
 
@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}